force-app/main/default/flows/MaxLimitThresholdReached.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MaxThresholdCustomNotification</name>
        <label>MaxThresholdCustomNotification</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email_for_Max_Threshold</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>MaxThresholdBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Max Threshold Reached for {$Record.Limits__r.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationOwners</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_for_Max_Threshold</name>
        <label>Send Email for Max Threshold</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <actionName>Limit_Snapshot__c.MaxThresholdLimittReached</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>NotiticationOwnerAssignment</name>
        <label>NotiticationOwnerAssignment</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NotificationOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MaxThresholdCustomNotification</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>MaxLimitThresholdReached {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MaxLimitThresholdReached</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Notification</name>
        <label>Notification</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NotiticationOwnerAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MaxThresholdReachedNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Notification</targetReference>
        </connector>
        <filterFormula>AND(
{!$Record.Limits__r.Alert_Threshold__c} &lt; {!$Record.Consumed_Percentage__c},
NOT({!$Record.Limits__r.Mute_Alerts__c})
)</filterFormula>
        <object>Limit_Snapshot__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MaxThresholdBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Max Threshold Reached for {!$Record.Limits__r.ExternalId__c}
Max Value : {!$Record.Max_Value__c}
Consumed : {!$Record.Value__c}
Consumed Percentage : {!$Record.Consumed_Percentage__c}
Alert Threshold : {!$Record.Limits__r.Alert_Threshold__c}</text>
    </textTemplates>
    <variables>
        <name>NotificationOwners</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
